Package: com.doux.libfmdb
Name: libfmdb
Recommends: com.kunihir0.doux
Description: An awesome library of some sort!!
Maintainer: kunihir0
Author: kunihir0
Section: System
Tag: role::developer
Architecture: iphoneos-arm64
Version: 1.0-4+debug
Installed-Size: 220
